{{extend 'layout.html'}}
{{# -*- coding: utf-8 -*-}}
{{=form.custom.begin}}

<body class="grey lighten-3">
	{{include 'navbar.html'}}

	{{empresa_detalhe = db(Empresa.id == request.args(0)).select()}}

	{{for empresa in empresa_detalhe:}}
		{{empresa}}
	{{pass}}


	<br>
	<div class="container">
		<h5 class="header col s12 light">Editar dados de {{=empresa.nome.title()}}</h5>
	</div>
	<br><br>
	<div class="col container">
		<div class="container">
			<div class="card-panel hoverable"><br>
				<div class="row">
					<div class="container">
						<div class="center"><i class="large material-icons blue-text text-darken-4">business</i><br><br>
						</div>

						<div class="row">
							<div class="input-field col s12">
								{{form.elements('#empresa_razao')[0]['_class'] = "validate" }}
								{{=form.custom.widget.razao}}
								<label for="empresa_razao">Razão social</label>
							</div>
						</div>

						<div class="row">
							<div class="input-field col s12">
								{{form.elements('#empresa_nome')[0]['_class'] = "validate" }}
								{{=form.custom.widget.nome}}
								<label for="empresa_nome">Nome fantasia</label>
							</div>
						</div>

						<div class="row">
							<div class="input-field col s12">
								<input disabled value="{{=to_cnpj(empresa.cnpj)}}" id="disabled" type="text" class="validate">
								<label for="disabled">CNPJ</label>
							</div>
							<div style="display:none"class="input-field col s12">
								{{form.elements('#empresa_cnpj')[0]['_class'] = "validate" }}
								{{=form.custom.widget.cnpj}}
								<label for="empresa_cnpj">CNPJ</label>
							</div>
						</div>

						<div class="row">
							<div class="input-field col s12">
								{{form.elements('#empresa_email')[0]['_class'] = "validate" }}
								{{form.elements('#empresa_email')[0]['_type'] = "email" }}
								<i class="material-icons prefix blue-text text-darken-4">email</i>
								{{=form.custom.widget.email}}
								<label for="empresa_email">E-mail</label>
								<span class="helper-text" data-error="E-mail incorreto" data-success="E-mail valido"></span>
							</div>
						</div>

						<div class="row">
							<div class="input-field col s12">
								{{form.elements('#empresa_telefone')[0]['_class'] = "validate" }}
								<i class="material-icons prefix blue-text text-darken-4">phone</i>
								{{=form.custom.widget.telefone}}
								<label for="empresa_telefone">Telefone</label>
							</div>
						</div>
						<div class="row">
							<div class="input-field col s12">
								{{form.elements('#empresa_endereco')[0]['_class'] = "materialize-textarea" }}
								{{=form.custom.widget.endereco}}
								<label for="empresa_endereco">Endereço</label>
							</div>
						</div>
						<div class="row">
					      <div class="input-field col s12">
									<span class="grey-text">Termo de convênio</span><br><br>
									{{=form.custom.widget.termo}}
								</div>
					</div>

						<br>
					</div>
					<div class="container">
					<button class="btn waves-effect waves-light right" type="submit" name="action">Atualizar
						<i class="material-icons right">check</i>
					</button>
					<div class="left">
						<a class="btn waves-effect waves-light left" href="{{=URL('default', 'empresa_ver')}}">Voltar
							<i class="material-icons right">reply</i>
						</a>
					</div>

					<div class="center">
						<a class="btn waves-effect waves-light center red" href="{{=URL('default', 'empresa_apagar/' + str(request.args(0)))}}">Deletar
							<i class="material-icons right">delete</i>
						</a>
					</div>

				</div>
				</div>
			</div>
			<br>
		</div>
	</div>
</div>
</div>
<br><br><br><br>

<script>

	$(document).ready(function(){
		$('select').formSelect();
	});

</script>

</body>

{{=form.custom.end}}
