Linux:

* Recomendo usar metodo de criptografia legada no mysql * 

sudo apt install python-pip
sudo pip install pymysql
sudo pip install pydal

- Aplicação 
sudo apt install npm
npm install material-design-icons --save

