
<!-- Dropdown Login Structure -->
<ul id="dropdown-login" class="dropdown-content">
  {{if auth.user:}}
  <li><a href="{{=URL('default','user/profile')}}">Perfil</a></li>
  <li><a href="{{=URL('default','user/change_password')}}">Trocar Senha</a></li>
  <li class="divider"></li>
  <li><a href="{{=URL('default','user/logout')}}">Sair</a></li>
  {{else:}}
  <li><a href="{{=URL('default','user/login')}}">Entrar</a></li>
  <li><a href="{{=URL('default','user/register')}}">Cadastrar</a></li>
  <li class="divider"></li>
  <li><a href="{{=URL('default','user/retrieve_password')}}">Resetar Senha</a></li>
  {{pass}}
</ul>

<!-- Dropdown aluno Structure -->
<ul id="dropdown-aluno" class="dropdown-content">
  <li><a href="{{=URL('default','aluno_cadastro')}}">Cadastrar aluno</a></li>
  <li><a href="{{=URL('default','aluno_ver')}}">Visualizar alunos</a></li>
  <li class="divider"></li>
  <li><a href="{{=URL('default','suporte')}}">Relatórios</a></li>
</ul>

<!-- Dropdown Estágio Structure -->
<ul id="dropdown-aluno" class="dropdown-content">
  <li><a href="{{=URL('default','estagio_cadastro')}}">Cadastrar estágio</a></li>
  <li><a href="{{=URL('default','estagio_ver')}}">Visualizar estágios</a></li>
  <li class="divider"></li>
  <li><a href="{{=URL('default','suporte')}}">Relatórios</a></li>
</ul>

<!-- Dropdown Professor Structure -->
<ul id="dropdown-aluno" class="dropdown-content">
  <li><a href="{{=URL('default','professor_cadastro')}}">Cadastrar professor</a></li>
  <li><a href="{{=URL('default','professor_ver')}}">Visualizar professores</a></li>
</ul>

<!-- Dropdown Empresa Structure -->
<ul id="dropdown-aluno" class="dropdown-content">
  <li><a href="{{=URL('default','empresa_cadastro')}}">Cadastrar empresa</a></li>
  <li><a href="{{=URL('default','empresa_ver')}}">Visualizar empresa</a></li>
  <li class="divider"></li>
  <li><a href="{{=URL('default','suporte')}}">Relatório de convênio</a></li>
</ul>


<nav class="blue darken-4" role="navigation">
  <div class="nav-wrapper container">

    <a id="logo-container" href="{{=URL('default','level')}}" class="brand-logo">SIGEDO</a>
    <ul class="right hide-on-med-and-down">
      <li><a class="dropdown-trigger" href="#!" data-target="dropdown-aluno">Aluno</a></li>
      <li><a class="dropdown-trigger" href="#!" data-target="dropdown-aluno">Estágio</a></li>
      <li><a class="dropdown-trigger" href="#!" data-target="dropdown-aluno">Professor</a></li>
      <li><a class="dropdown-trigger" href="#!" data-target="dropdown-aluno">Empresa</a></li>
      <li><a href="{{=URL('default','suporte')}}">Documentos</a></li>
      <li><a href="{{=URL('default','suporte')}}">Relatórios</a></li>
      <!-- Dropdown Trigger -->
      <li><a class="dropdown-trigger" href="#!" data-target="dropdown-login">{{if auth.user:}}{{=auth.user.first_name}}{{else:}}Login{{pass}}<i class="material-icons right"><!--arrow_drop_down--></i></a></li>
    </ul>

    <ul id="nav-mobile" class="sidenav">
      <li><a href="#">Ainda não funciona mobile</a></li>
    </ul>
    <a href="#" data-target="nav-mobile" class="sidenav-trigger"><i class="material-icons">menu</i></a>
  </div>
</nav>


<script>

$(document).ready(function(){
  $('.sidenav').sidenav();
  $(".dropdown-trigger").dropdown({constrainWidth: false});
});

</script>
